<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base.html :: headBase">
    <title id="pageTitle">Enauczyciel-zawodowy - Panel nauczyciela</title>
</head>

<body>
    <div class="contentTeacher">
        <header th:include="baseTeacher.html :: headerBase"></header>
        <main>
            <section>
                <nav th:include="baseTeacher.html :: navBase"></nav>
                <div class="row mr-0">
                    <div class="nav-tile d-none d-xl-block mx-4" th:include="baseTeacher.html :: navBigBase"></div>

                    <!--/*@thymesVar id="container" type="pl.agnieszkajankowska.enauczyciel.model.SelectedValueContainer"*/-->
                    <!--/*@thymesVar id="section" type="pl.agnieszkajankowska.enauczyciel.model.Section"*/-->
                    <!--/*@thymesVar id="subject" type="pl.agnieszkajankowska.enauczyciel.model.Subject"*/-->
                    <div class ="container col text-left">
                        <h1 class="title pt-2 pl-3">Panel nauczyciela</h1>
                        <hr>

                        <!--SEKCJA GLOWNA-->
                        <div class="row text-left">
                            <div class="col title-for-selected-elem"><h4 class="pl-3"><b>Krok 1:</b>Wybrany przedmiot</h4></div>
                            <div class="col-12 col-md mb-2"><div class="div-selected-elem row p-0 mx-3 " ><h4 th:text="${subject.description}" class="name-selected-elem col-9 m-0"></h4><a th:href="@{/teacher/subjects}" role="button" class="btn btn-primary col-3 m-0">Zmień</a></div></div>
                        </div>
                        <hr>
                        <h4 class="pl-3"><b>Krok 2:</b> Utwórz nowy dział lub wybierz z listy</h4>

                        <div class="row p-0 m-0">
                            <div class="col-xl-4 col-md-6 col-12 py-2">
                                <form method="post" th:action="@{/teacher/subjects/sections(subject=${subject.id})}" th:object="${section}"  id="form">
                                    <p class="messageErr"  th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>

                                    <h5>Dodaj nowy dział</h5>
                                    <fieldset>
                                        <label class="mb-3">
                                            <input required class="form-control form-size" type="text" th:field="${section.description}" id="inputForm"/>
                                        </label>
                                    </fieldset>
                                    <p style="width: 250px; display: none;" class="messageErr" id="inputError">Max 100 znaków</p>
                                    <p style="width: 250px;" class="messageErr"  th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
                                    <p style="width: 250px;" class="message" th:if="${message != null}" th:text="${message}" id="formMessage"></p>
                                    <p style="width: 250px;" class="messageErr" th:if="${messageErr != null}" th:text="${messageErr}"></p>
                                    <p>
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button id="reset" type="reset" class="btn btn-danger">Wyczyść</button>
                                    </p>
                                </form>
                            </div>

                            <div class="col-xl-4 col-md-6 col-12 py-2">
                                <form method="get" th:object="${container}" th:action="@{/teacher/subjects/sections/assignments}">
                                    <div class="form-group">
                                        <h5>Wybierz dział z listy</h5>
                                        <select required class="form-control form-size selectpicker" th:field="*{section}">
                                            <option disabled value="">-</option>
                                            <option th:each="section : ${sectionsList}"
                                                    th:value="${section.id}"
                                                    th:text="${section.description}">...
                                            </option>
                                        </select>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Wybierz dział</button>
                                </form>
                            </div>
                        </div>
                        <!--KONIEC SEKCJI-->
                    </div>
                </div>
                <div id="extra"></div>
            </section>
        </main>
    </div>
    <footer th:include="base.html :: footerBase"></footer>
    <script src="/js/subjectAndSection.js"></script>
</body>
</html>