
.icon-plus:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-wrench:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
